.Boxes{
 gap: 2%;
    display: flex;
    flex-direction: column;
    
   
}
.box{
    border: 2px solid;
    height: 80px;
    width: 300px;
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    border-color: #eceaea;

   
    
}
img{
    border-radius: 48px;
    width: 45px;
    height: 45px;
    
    margin-top: 20px;
    margin-left: 10px;
}
p{
    color: grey;
    margin-top: 28px;
    margin-left: 10px;
}
.box1, .box2{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.box2{
    margin-top: 15px;
}