<div class="Boxes">
    <div class="box1">
    <div class="box">
   <img src="../../assets/uuuu.png"><p>Put The<br> Clients First</p>
   </div>
   <div class="box">
    <img src="../../assets/uuuu.png"><p>Put The<br> Clients First</p>
</div>
    <div class="box">
        <img src="../../assets/uuuu.png"><p>Put The<br> Clients First</p>
    </div>
</div>

<div class="box2">
    <div class="box">
        <img src="../../assets/uuuu.png"><p>Put The<br> Clients First</p>
        </div>
        <div class="box">
         <img img src="../../assets/uuuu.png"><p>Put The<br> Clients First</p>
     </div>
         <div class="box">
             <img src="../../assets/uuuu.png"><p>Put The<br> Clients First</p>
         </div>
    </div>

</div>
